body, footer {
  font-family: "Open Sans", sans-serif;
}

.header-image {
  background-image: url('/images/cover.jpg');
  background-size: cover;
  height: 240px;

}

.navbar {
  border-radius: 0px;

}